<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Add Link</div>
                    <form class="card-body" @submit.prevent="submit">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" :class="{ 'is-invalid': $v.form.name.$error}"
                                id="name" name="name" v-model="form.name" required>
                            <div class="invalid-feedback">
                                Min 5
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url">Url</label>
                            <input type="text" class="form-control" :class="{ 'is-invalid': $v.form.url.$error}" id="url"
                                name="url" v-model="form.url" required>
                            <div class="invalid-feedback">
                                Must be a valid Url
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" :disabled="loading">
                            <template v-if="loading">
                                <template v-if="id">
                                    Updating...
                                </template>
                                <template v-else>
                                    Creating...
                                </template>
                            </template>
                            <template v-else>
                                <template v-if="id">
                                    Edit
                                </template>
                                <template v-else>
                                    Create
                                </template>
                            </template>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        required,
        minLength,
        url
    } from 'vuelidate/lib/validators'

    export default {
        mounted() {
            console.log('LinksForm mounted')

            if (this.$route.params) {
                axios.get('/links/' + this.$route.params.id)
                    .then(response => {
                        this.id = response.data.id;
                        this.form.name = response.data.name;
                        this.form.url = response.data.url;
                    });
            } else {
                this.id = null;
                this.form.name = null;
                this.form.url = null;
            }
        },
        validations: {
            form: {
                name: {
                    required,
                    minLength: minLength(5)
                },
                url: {
                    required,
                    url
                }
            }
        },
        data() {
            return {
                loading: false,
                id: null,
                form: {
                    name: null,
                    url: null,
                }
            }
        },
        methods: {
            submit() {

                this.$v.form.$touch()
                if (this.$v.form.$invalid) {
                    return false;
                }

                this.loading = true;
                if (this.id) {
                    axios.patch('/links/' + this.id, this.form)
                        .then(response => {
                            this.loading = false;
                            this.$router.push({
                                name: 'index'
                            });
                            Toastr.success('Link Updated !');
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                        })
                } else {
                    axios.post('/links', this.form)
                        .then(response => {
                            console.log(response);
                            this.loading = false;
                            this.$router.push({
                                name: 'index'
                            });
                            Toastr.success('Linked Created !');
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                        })
                }
            }
        }
    }

</script>
