<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Links</div>
                    <ul class="list-group list-group-flush" v-if="links && links.length">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            v-for="link in links" :key="link.id">
                            <div class="d-flex flex-column">
                                <b>
                                    {{ link.name }}
                                </b>
                                <small class="text-muted">
                                    {{ link.created_at }}
                                </small>
                                <a target="_blank" :href="link.url"> 
                                    {{ link.url }}
                                </a>
                            </div>
                            <div>
                                <router-link class="btn btn-sm btn-link" :to="{ name: 'edit', params: { id: link.id } }">
                                    <i class="fas fa-edit"></i>
                                </router-link>
                                <button type="button" class="btn btn-sm btn-link text-danger" @click="askDelete(link)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body text-center" v-if="links && !links.length">
                        <p>
                            No Link yet !
                        </p>
                        <router-link class="btn btn-outline-primary" :to="{ name: 'create' }"> 
                            <i class="fa fa-plus" aria-hidden="true"></i> 
                            Add a Link
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('LinksList mounted')
            axios.get('/links')
                .then(response => {
                    this.links = response.data;
                })
        },
        data() {
            return {
                links: null,
            }
        },
        methods: {
            askDelete(link) {
                if (confirm('Delete ?')) {
                    axios.delete('links/' + link.id)
                        .then(response => {
                            this.links = this.links.filter(item => item.id !== link.id);
                            Toastr.success('Link removed !');
                        })
                };
            }
        }
    }

</script>
